USE [master]
GO
/****** Object:  Database [BDSISCLIN]    Script Date: 14/11/2016 17:25:11 ******/
CREATE DATABASE [BDSISCLIN]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDSISCLIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDSISCLIN]
GO
/****** Object:  StoredProcedure [dbo].[p1]    Script Date: 14/11/2016 17:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[p1]
as
begin
select r.nome 'Responsável Legal', c.nome 'Cliente', r.endereco 'Endereco' from cliente c inner join responsavel r on
c.cpf_responsavel = r.cpf
end


GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 14/11/2016 17:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cpf] [varchar](14) NULL,
	[email] [varchar](110) NULL,
	[endereco] [varchar](200) NULL,
	[cidade] [varchar](25) NULL,
	[estado] [varchar](25) NULL,
	[nome] [varchar](70) NOT NULL,
	[telefone] [varchar](16) NULL,
	[dataNascimento] [date] NULL,
	[adicionalInfo] [varchar](400) NULL,
	[cpf_responsavel] [varchar](14) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CPF_CLIENTE_UNICO] UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Consultorio]    Script Date: 14/11/2016 17:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Consultorio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](10) NULL,
 CONSTRAINT [PK_Consultorio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 14/11/2016 17:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medico](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cpf] [varchar](14) NOT NULL,
	[email] [varchar](110) NULL,
	[endereco] [varchar](200) NULL,
	[cidade] [varchar](25) NULL,
	[estado] [varchar](25) NULL,
	[nome] [varchar](70) NULL,
	[telefone] [varchar](16) NULL,
	[dataNascimento] [date] NULL,
	[crm] [varchar](25) NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CPF_MEDICO_UNICO] UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Responsavel]    Script Date: 14/11/2016 17:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Responsavel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cpf] [varchar](14) NOT NULL,
	[email] [varchar](110) NULL,
	[endereco] [varchar](200) NULL,
	[cidade] [varchar](25) NULL,
	[estado] [varchar](25) NULL,
	[nome] [varchar](70) NULL,
	[telefone] [varchar](16) NULL,
	[dataNascimento] [date] NULL,
 CONSTRAINT [PK_Responsavel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CPF_UNICO] UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sessoes]    Script Date: 14/11/2016 17:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sessoes](
	[dataSessao] [date] NULL,
	[horaInicio] [datetime] NULL,
	[horaFim] [datetime] NULL,
	[tipoDeSessao] [varchar](15) NULL,
	[id_medico_responsavel] [int] NULL,
	[id_cliente] [int] NULL,
	[sessaoCompleta] [smallint] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_consultorio] [int] NULL,
	[id_tipodetratamento] [int] NULL,
	[valorsessao] [decimal](18, 2) NULL,
	[qtdesessoes] [int] NULL,
	[nroSessao] [int] NULL,
	[sessaoQuitada] [int] NULL,
 CONSTRAINT [PK_Sessoes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipodetratamento]    Script Date: 14/11/2016 17:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipodetratamento](
	[Nome] [varchar](20) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[valor] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tipodetratamento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Responsavel] FOREIGN KEY([cpf_responsavel])
REFERENCES [dbo].[Responsavel] ([cpf])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Responsavel]
GO
ALTER TABLE [dbo].[Sessoes]  WITH CHECK ADD  CONSTRAINT [FK_Sessoes_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Sessoes] CHECK CONSTRAINT [FK_Sessoes_Cliente]
GO
ALTER TABLE [dbo].[Sessoes]  WITH CHECK ADD  CONSTRAINT [FK_Sessoes_Consultorio] FOREIGN KEY([id_consultorio])
REFERENCES [dbo].[Consultorio] ([id])
GO
ALTER TABLE [dbo].[Sessoes] CHECK CONSTRAINT [FK_Sessoes_Consultorio]
GO
ALTER TABLE [dbo].[Sessoes]  WITH CHECK ADD  CONSTRAINT [FK_Sessoes_Medico] FOREIGN KEY([id_medico_responsavel])
REFERENCES [dbo].[Medico] ([id])
GO
ALTER TABLE [dbo].[Sessoes] CHECK CONSTRAINT [FK_Sessoes_Medico]
GO
ALTER TABLE [dbo].[Sessoes]  WITH CHECK ADD  CONSTRAINT [FK_Sessoes_tipodetratamento] FOREIGN KEY([id_tipodetratamento])
REFERENCES [dbo].[tipodetratamento] ([id])
GO
ALTER TABLE [dbo].[Sessoes] CHECK CONSTRAINT [FK_Sessoes_tipodetratamento]
GO
USE [master]
GO
